.header {
  padding-block: 0.5rem;
  margin-inline: 1rem;

  display: flex;
  justify-content: space-between;

  .navigation {
    display: flex;
    gap: 1rem;

    &-item {
      padding-block: 0.25rem;
    }
  }

  &-logo {
    margin: 0;
  }
}

.hero {
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ded0b7;
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.benefits {
  display: flex;
  justify-content: center;
  gap: 2rem;

  margin-block: 1rem;

  .benefit {
    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
  }
}

.items-wrapper {
  display: flex;
  justify-content: center;

  margin-top: 4rem;
}

.items {
  display: inline-grid;
  grid-template-columns: 260px 260px 260px;
  grid-gap: 20px;

  .item {
    height: 340px;
    padding: 1rem;

    background-color: #ded0b7;
    color: white;
    border-radius: 2px;

    font-size: 28px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    &-example {
      font-size: 48px;
      color: black;

      margin: 2rem auto;
      text-align: center;
    }

    .buy-button {
      width: 100%;
      padding: 0.5rem;

      color: white;
      background-color: green;

      font-size: 16px;

      border: none;
      border-radius: 6px;
    }
  }
}
